body {
    text-align: center;
}
ul {
    margin-bottom: -30px;
}

ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.overlay {
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    width: 505px;
    height: 538px;
    position: absolute;
    top: 91px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
}
.start-game {
    position: absolute;
    background-color: #808080;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 153px;
    width: 420px;
    height: 410px;
    margin: 0 auto;
    padding: 1em 2em;
}
.start-game h1, h3, h4 {
    font-weight: bold; 
}
.start-game button {
    background-color: #808080;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
}

.hide {
	visibility: hidden;
	opacity: 0 !important;
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
}

.game-over {
    position: absolute;
    background-color: #808080;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 153px;
    width: 347px;
    height: 303px;
    margin: 0 auto;
    padding: 3em 3em;
    color: #fff;
    visibility: hidden;
}

.game-over button {
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 2em;
}

.winner {
    position: absolute;
    background-color: #808080;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 153px;
    width: 347px;
    height: 303px;
    margin: 0 auto;
    padding: 3em 3em;
    color: #fff;
    visibility: hidden;
}

.winner button {
    background-color: #D62246;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 2em;
}